page-user-login-page {

}

.app-icon-wrapper{
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
  background-image: url('../assets/images/style-out-button-gold.png'); 
  background-size: 100%;
  background-repeat: no-repeat;
  width:270px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}

.app-icon-font-style{
    font-family: Dosis;
    font-style: normal; 
    font-weight: 400; 
    font-size:60px;
    margin-top:10%;
}
.app-icon-font-out{
    font-family: Dosis;font-style: normal; font-weight: 700; font-size:100px;
}

